@model Game

    <div class="game-details">
        <div class="text-details">
            <span class="title">
                @Model.Title
            </span>
            <span class="description">
                @Model.Description
            </span>
            <span class="releaseYear">
                @Model.ReleaseYear
            </span>
        </div>
        <div class="image">
        <img src="@Model.ImageUrl" alt="Image" />
        </div>
    </div>
                       
