@model Game

<div class="game-info">

    <div class="game-grid">
                <div class="game-card">
                    <div>
                        <span class="title">
                            @Model.Title
                        </span>
                        <span class="description">
                            @Model.Description
                        </span>
                        <span class="releaseYear">
                            @Model.ReleaseYear
                        </span>
                        <img src="@Model.ImageUrl" alt="Image" />
                    </div>
                </div>
        }
    </div>
</div>