
@model IEnumerable<RegisterScore>

@foreach (var item in Model)
{
    <div class="score">
        <span class="playerList">
            @item.Player
        </span>

        <sp class="dateList">
            @item.Date.ToString("yyyy-MM-dd")
        </sp>

        <span class="higscoreList">
            @item.Score
        </span>
    </div>
}
