
@*<a class="registerHighScore-link" href="#"> Register highscore</a>*@

<a class="registerHighScore-link" asp-controller="Register" asp-action="RegisterHighScore">Register highscore</a>

<div class="game-grid">
    @foreach (var games in Model)
    {
        <div class="game-card">
            <div class="title-link">
                <a asp-route="gamedetails" asp-route-urlSlug="@games.UrlSlug">

                    <span class="title-info">
                        @games.Title
                    </span>
                </a>
             </div>
        </div>
    }
</div>