<div class="game-info">

    <div class="game-grid">
        @foreach (var games in Model)
        {
            @*<a asp-route="gamedetails" asp-route-urlSlug="@games.UrlSlug">*@
                <div class="game-card">
                    <div>
                        <span class="title">
                            @games.Title
                        </span>
                        <span class="description">
                            @games.Description
                        </span>
                        <span class="releaseYear">
                            @games.ReleaseYear
                        </span>
                    </div>
                </div>
            @*</a>*@
        }
    </div>
</div>