
@{
    ViewData["Title"] = "Home Page";
}

<a class="registerHighScore-link" href="~/register/registerhighscore">Register highscore</a>

<div class="game-grid">
    @foreach (var games in Model)
    {
        <div class="game-card">
            <div class="title-link">
                <a asp-route="gamedetails" asp-route-urlSlug="@games.UrlSlug">

                    <span class="title-info">
                        @games.Title
                    </span>
                </a>

                @{
                    var first = true;
                }

                @foreach (var score in games.AllGameScores)
                {

                    @if (first)
                    {
                        <span class="player">
                            @(score?.Player ?? "")
                        </span>
                        <span class="releaseYear">
                            @score?.Date.ToString("yyyy-MM-dd")
                        </span>

                        <span class="CountHigscore">
                            @score?.Score
                        </span>

                    }

                    first = false;
                }

            </div>
        </div>
    }
</div>