
<div class="form-grid">

    <form class="form" action="/" method="post">

            <label for="game">Choose a game:</label>

            <select name="game" class="game-select">
                <option value="">--Please choose a game--</option>
                <option value="tetris">Tetris</option>
                <option value="snake">Snake</option>
                <option value="pacman">Pacman</option>
                <option value="donky-kong">Donky Kong</option>
            </select>

            <label for="player-input">Game:</label>
            <input type="text" name="name" value="" placeholder="Player" />

            <label for="date-input">Date:</label>
            <input type="text" name="name" value="" placeholder="Date" />

            <label for="score-input">Score:</label>
            <input type="text" name="name" value="" placeholder="Score" />

            <button class="btn-register" type="submit" name="button" value="submitButton">Register</button>
    </form>

</div>