@*@using System.Collections.Generic;*@

@model FreakyGame.Models.ViewModels.CreateScoreViewModel

@*@model IEnumerable<Game>*@
@{
    ViewData["Title"] = "Register";
}


<h2>Register highscore</h2>

<div class="form-grid">

    <form class="form" asp-controller="Register" asp-action="CreateScore" method="post">

        @*<label for="game">Choose a game:</label>*@

        <!--<select name="game" class="game-select">
    <option value="">--Please choose a game--</option>
    <option value="tetris"></option>-->
        @*<option value="snake"></option>
        <option value="pacman"></option>
        <option value="donky-kong"></option>*@
        <!--</select>-->

        <label asp-for="Games"></label>

        <select name="game" class="game-select">
            <option value="">--Please choose a game--</option>
            <option value="tetris"></option>
            @*<option value="snake"></option>
            <option value="pacman"></option>
            <option value="donky-kong"></option>*@
        </select>

        <label asp-for="Player"></label>
        <input asp-for="Player" placeholder="Player" />
        <span asp-validation-for="Player"></span>

        <label asp-for="Date"></label>
        <input asp-for="Date" placeholder="Date" />
        <span asp-validation-for="Date"></span>

        <label asp-for="Score"></label>
        <input asp-for="Score" value="" placeholder="Score" />
        <span asp-validation-for="Score"></span>

        <button class="btn-register" type="submit" name="button" value="submitButton">Register</button>
    </form>
</div>
