
@model FreakyGame.Models.ViewModels.CreateScoreViewModel

<h2>Register highscore</h2>

<div class="form-grid">


    <form class="form" asp-controller="Register" asp-action="CreateScore" method="post">

        <label>Game</label>
        @*@Html.DropDownList("Title", ViewBag.select as SelectList)*@

        <div class="input">
                <select class="input-score" asp-for="GameId" asp-items="@Model.ListScores">
                    <option value="Value">--Choose a game--</option>
                </select>
        </div>

        <label asp-for="Player"></label>
        <input asp-for="Player" placeholder="Player" />
        <span asp-validation-for="Player"></span>

        <label asp-for="Date"></label>
        <input asp-for="Date" placeholder="Date" />
        <span asp-validation-for="Date"></span>

        <label asp-for="Score"></label>
        <input asp-for="Score" value="" placeholder="Score" />
        <span asp-validation-for="Score"></span>

        <button class="btn-register" type="submit" name="button" value="submitButton">Register</button>
    </form>
</div>
